/* Add application styles & imports to this file! */

@font-face {
  font-family: Delicious;
  src: url('https://rawcdn.githack.com/ShlomiC1234/SmrtnFont/b6ce782a8141cf32764fb6444bfb09d75dac5bb0/yishrael.ttf');
}

body {
  font-family: Delicious;
  text-align: right;
  vertical-align: top;
  direction: rtl;
}

.main {
  font-family: Delicious;
  text-align: right;
  vertical-align: top;
  direction: rtl;
}
